{
    "printWidth": 200, 
    "tabWidth": 2, 
    "singleQuote": true, 
    "trailingComma": "none", 
    "arrowParens": "always", 
    "rangeStart": 0, 
    "vueIndentScriptAndStyle": false,
    "semi": true, 
    "endOfLine": "auto",
    "bracketSpacing": true
  }